@import "~scss/variables";

.sw-question-variant-info {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    padding-right: 1em;

    .sw-question-variant-info__specification {
        color: $color-gray-600;
    }

    .sw-highlight-text {
        display: inline-block;
    }
}
